
[submodule "External/LiteNetLib"]
	path = External/LiteNetLib
	url = https://github.com/CopKiller/LiteNetLib
[submodule "External/AutoMapper"]
	path = External/AutoMapper
	url = https://github.com/CopKiller/AutoMapper
[submodule "External/BCrypt"]
	path = External/BCrypt
	url = https://github.com/CopKiller/bcrypt.net
[submodule "External/VelcroPhysics"]
	path = External/VelcroPhysics
	url = https://github.com/CopKiller/VelcroPhysics
