
[submodule "External/LiteNetLib"]
	path = External/LiteNetLib
	url = https://github.com/CopKiller/LiteNetLib
[submodule "External/AutoMapper"]
	path = External/AutoMapper
	url = https://github.com/CopKiller/AutoMapper
